#botonera{    
    background-color: rgb(13, 61, 61, 0.5);
    
}
#botonera img{
    width: 150px;   
}

#botonera ul li a{
    color: white;
    font-size: 1.2em;
}

#botonera ul li a:hover{
    color: rgb(210, 105, 30);
}

